*{
  margin:0;
  padding:0;
}

/*les margins et les paddings ne sont pas ajoutés aux tailles définies pour les divs*/
html {
  box-sizing: border-box;
}

@font-face {
  font-family: 'CODE Bold';
  src: url('fonts/CODE Bold.otf');
}
@font-face {
  font-family: 'Alcubierre';
  src: url('fonts/Alcubierre.otf');
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: black;
  font-family: sans-serif;

}
a{
  text-decoration: none;
}

/*Header*/

header{
  height: 94vh;
  /*background-image:url(img/sky1.png);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-origin: content-box;
  text-align: center;
  padding-top: 20vh;
}
video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 0%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size:auto;
}
#nom{
  color:white;
  font-size: 6em;
  font-family: "Alcubierre", Arial, sans-serif;
  z-index: 1;
  font-size: 4em;
  text-shadow: -1vw 1vw 0.3vw black;
  padding-top: 5vh;
  /*border :0.4vw solid black;*/
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 6vh;
  padding-bottom: 5vh;
  /*background-color:rgba(254, 248, 196, 0.4);*/

}
/*span{
  color:#0b3a66;
  font-weight: bold;
  font-family: "Alcubierre", Arial, sans-serif;

}*/
#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #00132A;
  height: 6vh;
  font-family: "Alcubierre", Arial, sans-serif;
  font-weight: bolder;
  position: relative;
}
#ba{
  width: 14vw;
  text-align: center;
  color: white;
  padding-top: 1.7vh;
  margin-left: 5vw;
}
#ba:hover{
  background-color: white;
  height: 6vh;
  color: black;
}
#sypnosis{
  width: 10vw;
  text-align: center;
  color: white;
  padding-top: 1.7vh;
  margin-left: 6.8vw;
}
#sypnosis:hover{
  background-color: white;
  height: 6vh;
  color: black;
}
#mon_univers{
  width: 12vw;
  text-align: center;
  color: white;
  padding-top: 1.7vh;
  margin-left: 6vw;
}
#mon_univers:hover{
  background-color: white;
  height: 6vh;
  color: black;
}
#just_for_fans{
  width: 13vw;
  text-align: center;
  color: white;
  padding-top: 1.7vh;
  margin-left: 6vw;
}
#just_for_fans:hover{
  background-color: white;
  height: 6vh;
  color: black;
}
#plus{
  width: 8vw;
  text-align: center;
  color: white;
  padding-top: 1.7vh;
  margin-left: 8vw;
}
#plus:hover{
  background-color: white;
  height: 6vh;
  color: black;
}

/*Menu déroulant*/

#menu ul {
 list-style-type:none;
 }
#menu li {
 float:left;
 }
#menu li a {
 display:block;
 width:13vw;
 height: 5vh;
 color:white;
 text-decoration:none;
 padding-top: 1.4vh;

 }
#menu li a:hover {
 color:#0b3a66;
 background-color: white;
 }
 #menu ul li ul {
display:none;
padding-top: 1.4vh;
}
#menu ul li:hover ul {
display:block;
margin-top: -15vh;
}
#menu li:hover ul li {
float:none;
}
#menu li ul {
position:absolute;
}



/*Sypnosis*/

#bloc_sypnosis{
  height: 100vh;
  background-image: url(img/wallpaper21.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#syptitre{
  border-top: 0.2vw solid white;
  border-bottom: 0.2vw solid white;
  color: white;
  text-align: center;
  margin-top: 8vh;
  margin-left: 30vw;
  margin-right: 30vw;
  height: 10vh;
  font-family: "Alcubierre", Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
  padding-top: 2vh;
}
#syptexte{
  width: 79vw;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  margin-left: 10vw;
  margin-top: 10vh;
  padding: 4vh 3vw 4vh 3vw;
  text-align: justify;
  font-family: "Alcubierre", Arial, sans-serif;
  font-size: 1.15em;
  font-weight: bolder;
  line-height: 120%;
}
.syptxt{
  padding-bottom: 2vh;
}
.bloc{
  display: flex;
  flex-direction: row;
}

/*Bande Annonce*/

#bande_annonce{
  height: 100vh;
  /*background-color: #212121;*/
  background-image: url(img/wallpaper21.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
#bande_annonce video{
  margin-left: 15vw;
  margin-top: 7vw;
}


/*Mon Univers*/

#bloc_univers{
  height: 100vh;
  background-image: url(img/wallpaper21.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#universtitre{
  border-top: 0.2vw solid white;
  border-bottom: 0.2vw solid white;
  padding-top: 2vh;
  color: white;
  text-align: center;
  margin-top: 8vh;
  margin-left: 30vw;
  margin-right: 30vw;
  height: 10vh;
  font-family: "Alcubierre", Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
}
#universtexte{
  width: 79vw;
  height: 60vh;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6vh 3vw 4vh 3vw;
  text-align: justify;
  margin-left: 10vw;
  margin-top: 10vh;
  font-family: "Alcubierre", Arial, sans-serif;
  font-size: 1.15em;
  font-weight: bolder;
  line-height: 130%;
}

/*Just For Fans*/

    /*Partie 1*/

.jff{
  display: flex;
  flex-direction: column;
}
#jff{
  display: flex;
  flex-direction: row;
}
#bloc_jff{
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url(img/wallpaper21.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#ligne_1{
  display: flex;
  flex-direction: row;
  height: 50vh;
}
#ligne_2{
  display: flex;
  flex-direction: row;
  height: 50vh;
}
#airbnb{
  background-image: url(img/airbnb.png);
}
#maquette{
  background-image: url(img/maquette.png);
}
#maquette_4{
  background-image: url(img/maquette_4.png);
}
#acme{
  background-image: url(img/acme.png);
}

    /*Partie 2*/

#bloc_jff2{
  height: 100vh;
  display: flex;
  flex-direction:row;
  background-image: url(img/wallpaper21.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#ligne_3{
  display: flex;
  flex-direction: row;
  height: 50vh;
}
#ligne_4{
  display: flex;
  flex-direction: row;
  height: 50vh;
}
#calculatrice{
  background-image: url(img/calculatrice.png);
}
#minichat{
  background-image: url(img/minichat.png);
}
#portfolio{
  background-image: url(img/portfolio.png);
}
#isopartner{
  background-image: url(img/isopartner.png);

}


/*Pour les 2 parties*/

#maquette_4, #acme, #maquette, #airbnb, #calculatrice, #minichat, #portfolio, #isopartner{
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 40vh;
  margin-top: 5vh;
  margin-left: 5vw;
  }

/*Contact*/

#bloc_plus{
  height: 100vh;
  background-image: url(img/wallpaper16.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#contact{
width: 35vw;
height: 41vh;
border: 0.1vw solid white;
margin-top: 30vh;
margin-left: 5vw;
}
#formulaire{
  height: 80vh;
  width: 36vw;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  margin-top: 10vh;
  border: 0.1vw solid white;
}

#ville{
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
}
#tel{
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
}
#mail{
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
}
#imgville{
  width: 6vw;
  height: 7vh;
  margin-top: 4vh;
  margin-left: 1.7vw;
}
#imgtel{
  width: 6vw;
  height: 7vh;
  margin-top: 5vh;
  margin-left: 1.7vw;
}
#imgmail{
  width: 6vw;
  height: 7vh;
  margin-top: 5vh;
  margin-left: 1.7vw;
}
.paragraphe{
  width: 22vw;
  height: 4vh;
  text-align: center;
  padding-top: 0.8vh;
  margin-right: 3vw;
  font-family: "Alcubierre", Arial, sans-serif;
  font-weight: bolder;
  font-size: 1em;
  background-color: rgba(0, 19, 42, 0.7);
  color: white;
  margin-top: 5vh;
  margin-left: 5vw;
}

#name, #forname, #email  {
  margin-top: 5vh;
  margin-left: 3vw;
  padding-left: 1vw;
  width: 30vw;
  height: 6vh;
  font-family: "Alcubierre", Arial, sans-serif;
  background-color: rgba(0, 19, 42, 0.7);
  color: white;
  font-weight: bolder;
  font-size: 0.9em;
  border: 0.1vw;
}

#textarea{
  padding-left: 1vw;
  padding-top: 1vw;
  margin-top: 5vh;
  margin-left: 3vw;
  width: 30vw;
  height: 30vh;
  font-family: "Alcubierre", Arial, sans-serif;
  background-color: rgba(0, 19, 42, 0.7);
  color: white;
  font-weight: bolder;
  font-size: 0.9em;
  border: 0.1vw;
}
 #bouton{
  width: 10vw;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 13vw;
  font-family: "Alcubierre", Arial, sans-serif;
  font-weight: bolder;
  background-color: rgba(0, 19, 42, 1);
  color: white;
  border: 0.08vw solid white;
}

/*Flèches*/

#arrow{
  display: flex;
  flex-direction: column;
  margin-left: 4.5vw;
  margin-top: 10vh;
}
#arrow2{
  margin-top: 25vh;
  /*margin-left: 4vw;*/
}
.arrow1{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  /*margin-left: 4vw;*/
}

.arrow{
  display: flex;
  flex-direction: column;
}
.arrowhaut, .arrowbas{
  width: 7vw;
  height: 7vh;
  margin-left: 1.8vw;
  margin-top: 22vh;
}

/*Footer*/

#retour{
  height: 6vh;
  background-color: black;
  text-align: center;
  font-size: 0.9em;
  padding-top: 2vh;
  color: white;
  font-weight: bolder;
  font-family: "Alcubierre", Arial, sans-serif;
}
#retour:hover{
  background-color:#0b3a66;
  color: white;
  font-weight: bolder;
}
footer{
  background-color: white;
  height: 14vh;
  display: flex;
  flex-direction: column;
  font-family: "CODE Bold", Arial, sans-serif;

}
#reseaux{
  display: flex;
  flex-direction:row;
  padding-left: 35vw;
}
#reseaux img{
  width: 7vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-bottom: 1vh;
}

#infos{
  display: flex;
  justify-content: center;
  height: 4vh;
  width: 40vw;
  color:#212121;
  font-size: 0.8em;
  margin-left: 29vw;
  padding-top: 2vh;
}
